<h5>Lane List</h5>
<table class="table table-hover table-striped table-bordered table-sm">
	<thead>
		<tr style="color:white;background:black;text-align:center">
			<td style="text-align:center">laneId</td>
			<td style="text-align:center">number</td>
			<td colspan="2">Actions</td>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let lane of lanes" style="text-align:center">
			<td style="vertical-align:middle">{{ lane.laneId }}</td>
			<td style="vertical-align:middle">{{ lane.number }}</td>
			<td style="vertical-align:middle"><a [routerLink]="['/editLane', lane._id]" class="btn btn-primary btn-sm">Edit</a></td>
			<td style="vertical-align:middle"><button (click)="deleteLane(lane._id)"  class="btn btn-danger btn-sm">Delete</button></td>
		</tr>
	</tbody>
</table>
