<div class="panel panel-primary">
	<div class="panel-heading">
    	<h5>{{ title }}</h5>
	</div>
	
	<div class="panel-body">
		<input matInput placeholder="leagueId" name="leagueId "[(ngModel)]="leagueId">
<p>
		<mat-form-field appearance="legacy">
    		<mat-label>name</mat-label>
		    <input matInput ngDefaultControl placeholder="name" name="name" [(ngModel)]="name">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
		<mat-form-field appearance="legacy">
    		<mat-label>Players</mat-label>
			<mat-select placeholder="Players" multiple [(ngModel)]="Players">
		    	<mat-option name="Players" ngDefaultControl  
		    		*ngFor="let player of players"		    		 
		    		[value]="player._id">
		      		{{player.name}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
           <button 
		    (click)="addLeague(leagueId, name, Players)" 
		    class="btn btn-primary">add
		</button>
	</div> <!-- panel body -->	
</div> <!-- panel panel-primary -->
