<h5>Matchup List</h5>
<table class="table table-hover table-striped table-bordered table-sm">
	<thead>
		<tr style="color:white;background:black;text-align:center">
			<td style="text-align:center">matchupId</td>
			<td style="text-align:center">name</td>
			<td colspan="2">Actions</td>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let matchup of matchups" style="text-align:center">
			<td style="vertical-align:middle">{{ matchup.matchupId }}</td>
			<td style="vertical-align:middle">{{ matchup.name }}</td>
			<td style="vertical-align:middle"><a [routerLink]="['/editMatchup', matchup._id]" class="btn btn-primary btn-sm">Edit</a></td>
			<td style="vertical-align:middle"><button (click)="deleteMatchup(matchup._id)"  class="btn btn-danger btn-sm">Delete</button></td>
		</tr>
	</tbody>
</table>
