<h5>League List</h5>
<table class="table table-hover table-striped table-bordered table-sm">
	<thead>
		<tr style="color:white;background:black;text-align:center">
			<td style="text-align:center">leagueId</td>
			<td style="text-align:center">name</td>
			<td colspan="2">Actions</td>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let league of leagues" style="text-align:center">
			<td style="vertical-align:middle">{{ league.leagueId }}</td>
			<td style="vertical-align:middle">{{ league.name }}</td>
			<td style="vertical-align:middle"><a [routerLink]="['/editLeague', league._id]" class="btn btn-primary btn-sm">Edit</a></td>
			<td style="vertical-align:middle"><button (click)="deleteLeague(league._id)"  class="btn btn-danger btn-sm">Delete</button></td>
		</tr>
	</tbody>
</table>
