<h5>Game List</h5>
<table class="table table-hover table-striped table-bordered table-sm">
	<thead>
		<tr style="color:white;background:black;text-align:center">
			<td style="text-align:center">gameId</td>
			<td style="text-align:center">frames</td>
			<td colspan="2">Actions</td>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let game of games" style="text-align:center">
			<td style="vertical-align:middle">{{ game.gameId }}</td>
			<td style="vertical-align:middle">{{ game.frames }}</td>
			<td style="vertical-align:middle"><a [routerLink]="['/editGame', game._id]" class="btn btn-primary btn-sm">Edit</a></td>
			<td style="vertical-align:middle"><button (click)="deleteGame(game._id)"  class="btn btn-danger btn-sm">Delete</button></td>
		</tr>
	</tbody>
</table>
