<div class="panel panel-primary">
	<div class="panel-heading">
    	<h5>{{ title }}</h5>
	</div>
	
	<div class="panel-body">
 		<input matInput placeholder="laneId" name="lane.laneId "[(ngModel)]="lane.laneId">
<p>
 		<input matInput placeholder="number" name="lane.number "[(ngModel)]="lane.number">
<p>
            <button 
		    (click)="updateLane(lane.laneId, lane.number)" 
		    class="btn btn-primary">update
		</button>
	</div> <!-- panel body -->	
</div> <!-- panel panel-primary -->
