<h5>Alley List</h5>
<table class="table table-hover table-striped table-bordered table-sm">
	<thead>
		<tr style="color:white;background:black;text-align:center">
			<td style="text-align:center">alleyId</td>
			<td style="text-align:center">name</td>
			<td colspan="2">Actions</td>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let alley of alleys" style="text-align:center">
			<td style="vertical-align:middle">{{ alley.alleyId }}</td>
			<td style="vertical-align:middle">{{ alley.name }}</td>
			<td style="vertical-align:middle"><a [routerLink]="['/editAlley', alley._id]" class="btn btn-primary btn-sm">Edit</a></td>
			<td style="vertical-align:middle"><button (click)="deleteAlley(alley._id)"  class="btn btn-danger btn-sm">Delete</button></td>
		</tr>
	</tbody>
</table>
