<div class="panel panel-primary">
	<div class="panel-heading">
    	<h5>{{ title }}</h5>
	</div>
	
	<div class="panel-body">
 		<input matInput placeholder="matchupId" name="matchup.matchupId "[(ngModel)]="matchup.matchupId">
<p>
 		<mat-form-field appearance="legacy">
    		<mat-label>name</mat-label>
		    <input matInput ngDefaultControl placeholder="name" name="matchup.name" [(ngModel)]="matchup.name">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
   		<mat-form-field appearance="legacy">
    		<mat-label>Games</mat-label>
			<mat-select placeholder="Games" multiple  [compareWith]="compareFn"  [(ngModel)]="matchup.Games">
		    	<mat-option name="matchup.Games" ngDefaultControl  
		    		*ngFor="let game of games"		    		 
		    		[value]="game._id">
		      		{{game.gameId}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
              <button 
		    (click)="updateMatchup(matchup.matchupId, matchup.name, matchup.Games)" 
		    class="btn btn-primary">update
		</button>
	</div> <!-- panel body -->	
</div> <!-- panel panel-primary -->
