<h5>Tournament List</h5>
<table class="table table-hover table-striped table-bordered table-sm">
	<thead>
		<tr style="color:white;background:black;text-align:center">
			<td style="text-align:center">tournamentId</td>
			<td style="text-align:center">name</td>
			<td style="text-align:center">Type</td>
			<td colspan="2">Actions</td>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let tournament of tournaments" style="text-align:center">
			<td style="vertical-align:middle">{{ tournament.tournamentId }}</td>
			<td style="vertical-align:middle">{{ tournament.name }}</td>
			<td style="vertical-align:middle">{{ tournament.Type }}</td>
			<td style="vertical-align:middle"><a [routerLink]="['/editTournament', tournament._id]" class="btn btn-primary btn-sm">Edit</a></td>
			<td style="vertical-align:middle"><button (click)="deleteTournament(tournament._id)"  class="btn btn-danger btn-sm">Delete</button></td>
		</tr>
	</tbody>
</table>
