<div class="panel panel-primary">
	<div class="panel-heading">
    	<h5>{{ title }}</h5>
	</div>
	
	<div class="panel-body">
		<input matInput placeholder="laneId" name="laneId "[(ngModel)]="laneId">
<p>
		<input matInput placeholder="number" name="number "[(ngModel)]="number">
<p>
          <button 
		    (click)="addLane(laneId, number)" 
		    class="btn btn-primary">add
		</button>
	</div> <!-- panel body -->	
</div> <!-- panel panel-primary -->
