<div class="panel panel-primary">
	<div class="panel-heading">
    	<h5>{{ title }}</h5>
	</div>
	
	<div class="panel-body">
		<input matInput placeholder="gameId" name="gameId "[(ngModel)]="gameId">
<p>
		<input matInput placeholder="frames" name="frames "[(ngModel)]="frames">
<p>
		<mat-form-field appearance="legacy">
    		<mat-label>Player</mat-label>
			<mat-select placeholder="Player"  [(ngModel)]="Player">
		    	<mat-option name="Player" ngDefaultControl  
		    		*ngFor="let player of players"		    		 
		    		[value]="player._id">
		      		{{player.name}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
           <button 
		    (click)="addGame(gameId, frames, Player)" 
		    class="btn btn-primary">add
		</button>
	</div> <!-- panel body -->	
</div> <!-- panel panel-primary -->
