<div class="panel panel-primary">
	<div class="panel-heading">
    	<h5>{{ title }}</h5>
	</div>
	
	<div class="panel-body">
		<input matInput placeholder="matchupId" name="matchupId "[(ngModel)]="matchupId">
<p>
		<mat-form-field appearance="legacy">
    		<mat-label>name</mat-label>
		    <input matInput ngDefaultControl placeholder="name" name="name" [(ngModel)]="name">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
		<mat-form-field appearance="legacy">
    		<mat-label>Games</mat-label>
			<mat-select placeholder="Games" multiple [(ngModel)]="Games">
		    	<mat-option name="Games" ngDefaultControl  
		    		*ngFor="let game of games"		    		 
		    		[value]="game._id">
		      		{{game.gameId}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
           <button 
		    (click)="addMatchup(matchupId, name, Games)" 
		    class="btn btn-primary">add
		</button>
	</div> <!-- panel body -->	
</div> <!-- panel panel-primary -->
