<div class="panel panel-primary">
	<div class="panel-heading">
    	<h5>{{ title }}</h5>
	</div>
	
	<div class="panel-body">
 		<input matInput placeholder="leagueId" name="league.leagueId "[(ngModel)]="league.leagueId">
<p>
 		<mat-form-field appearance="legacy">
    		<mat-label>name</mat-label>
		    <input matInput ngDefaultControl placeholder="name" name="league.name" [(ngModel)]="league.name">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
   		<mat-form-field appearance="legacy">
    		<mat-label>Players</mat-label>
			<mat-select placeholder="Players" multiple  [compareWith]="compareFn"  [(ngModel)]="league.Players">
		    	<mat-option name="league.Players" ngDefaultControl  
		    		*ngFor="let player of players"		    		 
		    		[value]="player._id">
		      		{{player.name}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
              <button 
		    (click)="updateLeague(league.leagueId, league.name, league.Players)" 
		    class="btn btn-primary">update
		</button>
	</div> <!-- panel body -->	
</div> <!-- panel panel-primary -->
